# Build outputs
**/target/
**/dist/
**/node_modules/

# IDE files
.idea/
*.iml
*.class

# Logs
*.log

# Environment variables
.env
.env.local
.env.production

# Application configuration files with secrets
**/application-dev.yml

# OS files
.DS_Store

# Test files
**/test/
*Test.java

# Editor files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?